* {

    margin: 0;
    padding: 0;
    text-align: center;

}

h1 {

    background-color: rgb(226, 43, 189);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.choice:hover {

    cursor: pointer;
    background-color: black;
}

img {

    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    

}

.choices {

    display: flex;
    margin-top: 50px;
    gap: 5rem;
    justify-content: center;
    align-items: center;

}
.score-board{

    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5rem;
}
#user-score, 
#comp-score{
    font-size: 4rem;
}
.msg-container{

    margin-top: 5rem;
}
#msg{

    display: inline;
    border-radius: 2rem;
    padding: 1rem;
    background-color: orange;
    font-size: 2rem;
}